<%- include('../header') %>

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg-primary">
    <div class="container clearfix">
        <h2 class="title-page">Admin</h2>

        <nav class="float-left">
            <ol class="breadcrumb text-white">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
            </ol>
        </nav>
    </div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg padding-y">
    <div class="container">
        <div class="row">
            <main class="col-sm-12">
                <div class="card">
                    <header class="card-header">
                        <h4 class="card-title mt-2">Editar categoria</h4>
                    </header>
                    <article class="card-body">
                        <form method="POST">
                            <div class="form-group">
                                <label>Categoria</label>
                                <input name="category" type="text"
                                    class="form-control <% if(errors.indexOf('category') >= 0) { %> is-invalid  <% } %> "
                                    placeholder="" value="<%= form.category %>">
                                <div class="invalid-feedback">
                                    Por favor informe uma categoria
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Descrição</label>
                                <textarea name="descripton"
                                    class="form-control <% if(errors.indexOf('descripton') >= 0) { %> is-invalid  <% } %> "
                                    placeholder=""><%= form.descripton %></textarea>
                            </div> <!-- form-group end.// -->
                            <div class="invalid-feedback">
                                Por favor informe uma descrição
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block"> Salvar categoria </button>
                            </div> <!-- form-group// -->
                        </form>
                    </article> <!-- card-body end .// -->
                </div> <!-- card.// -->
            </main> <!-- col.// -->
        </div>
    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

<%- include('../../partials/footer') %>